In [ ]:
#set local path
your_local_path="/home/shiv/upx/ML/Project_datasets_modified_lyst3968/Project datasets modified/Airquality/Airquality/AirQualityUCI.csv"

In [ ]:
# import pandas
import pandas as pd

#1. DataFrame commonly used functions

In [ ]:
#load local file into dataframe 
data= pd.read_csv(your_local_path)
#covert into dataframe
df = pd.DataFrame(data)

In [57]:
#display  initial rows of data
#df.head()
df.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
9466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Attribute Information:

0 Date (DD/MM/YYYY)
1 Time (HH.MM.SS)
2 True hourly averaged concentration CO in mg/m^3 (reference analyzer)
3 PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)
4 True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)
5 True hourly averaged Benzene concentration in microg/m^3 (reference analyzer)
6 PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)
7 True hourly averaged NOx concentration in ppb (reference analyzer)
8 PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)
9 True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)
10 PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)
11 PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)
12 Temperature in Â°C
13 Relative Humidity (%)
14 AH Absolute Humidity

In [ ]:
df.columns # print columns of data

In [ ]:
#access a column of data
df.RH   # OR 
#df['RH']

In [ ]:
# print the count of missing value for each columnn 
df.isnull().sum()

In [ ]:
# fill missing value .

df.fillna( df.mean())

In [ ]:
# find statistics of data  or column 
df['RH'].describe()

In [ ]:
# select a row with max RH value

df[df.RH == df.RH.max()]

In [60]:
# add a temprary new column in  copy dataframe
copy_df  = df.copy()
#copy_df['city'] = []

ValueError: Length of values does not match length of index

In [59]:
#groupby in pandas 

# air_quality = pd.DataFrame({"city":['Mumbai', 'Delhi', 'Kolkata', 'Banalore'],
#                             "airQuality":['Poor','worst','fair','good'],
#                              "airIndex":[7,4,21,121]})
# #print(air_quality)
# city = df.groupby(air_quality.city)
# print(city)

grp_by_Time  = df.groupby['Temperature']

TypeError: 'method' object is not subscriptable

#2. Pandas operations

In [ ]:
# write DF to CSV
df.to_csv('df_to_csv')

In [ ]:
#install: pip3 install openpyxl

df.to_excel('df_to_excel',sheet_name = 'airquality')  #write dataframe to excel